@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Christoc.Modules.SettingsChart2.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div id="container"></div>

<div>
    @Html.ActionLink("Export to Excel", "Export_ToExcel", "Item")
</div>

<script type="text/javascript">
    var chart;
    $(document).ready(function () {
         var rvtoken = $("input[name='__RequestVerificationToken']").val();
        var ModuleId = @Dnn.ModuleContext.ModuleId;
        var TabId = @Dnn.ModuleContext.TabId;
        var siteRoot = dnn.getVar("sf_siteRoot", "/");
        var SettingsName;
        var TenBieuDo = [];
        var MotaBieuDo = [];
        var TenX = [];
        var TenY = [];
        var LoaiBieuDo = [];
        $.ajax({
            url: siteRoot + 'DesktopModules/MVC/SettingsChart2/Item/GetSettingsChart',
            method: "GET",
            dataType: "json",
            headers: {
                "ModuleId": ModuleId,
                "TabId": TabId,
                "RequestVerificationToken": rvtoken
            },
            success: function (data) {
                SettingsName = data.data;
                var obj = JSON.parse(SettingsName);
                LoaiBieuDo.push(obj[3].SettingValue);
                MotaBieuDo.push(obj[4].SettingValue);
                TenBieuDo.push(obj[5].SettingValue);
                TenX.push(obj[6].SettingValue);
                TenY.push(obj[7].SettingValue);
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: LoaiBieuDo,
                        events: {
                            load: requestData
                        }
                    },
                    title: {
                        text: TenBieuDo,
                    },
                    subtitle: {
                        text: MotaBieuDo
                    },
                    xAxis: {
                        title: {
                            text: TenX
                        },
                        categories: []
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: TenY
                        }
                    }
                    , plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: []
                });
            }
        })

    });

     function requestData() {
        var rvtoken = $("input[name='__RequestVerificationToken']").val();
        var ModuleId = @Dnn.ModuleContext.ModuleId;
        var TabId = @Dnn.ModuleContext.TabId;
        var siteRoot = dnn.getVar("sf_siteRoot", "/");
        var chartData;
        var ChonChuDe = [];
         var ChonX = [];
         var ChonY = [];

        $.ajax({
            url: siteRoot + 'DesktopModules/MVC/SettingsChart2/Item/GetResults',
            method: "Get",
            contentType: "application/json; charset=utf-8", dataType: "json",
            headers: {
                "ModuleId": ModuleId,
                "TabId": TabId,
                "RequestVerificationToken": rvtoken
            },
            success: function (data) {
                chartData = data.data;
                var objData = JSON.parse(chartData);
                ChonChuDe.push(objData[0])
                ChonX.push(objData[1])
                ChonY = objData[2].split(',');
                var objChude = JSON.parse(ChonChuDe);

                for (var j = 0; j < ChonY.length; j++) {
                    var Y = ChonY[j];
                    var data = [];
                    for (var i = 0; i < objChude.length; i++) {
                        var name1 = [];
                        var x = objChude[i];
                        if (typeof (x[Y]) == "number") {
                            name1.push(Y);
                            data.push(x[Y]);
                        }
                    }
                    if (data.length > 0) {
                        chart.addSeries({
                            name: name1,
                            data: data
                        });
                    }
                }
                chart.xAxis[0].setCategories(objData[1].split(','))
            }

            //success: function (data) {
            //    chartData = data.gender;
            //    var obj = JSON.parse(chartData);
            //    console.log(obj);
            //    var amountArr1 = []; amountArr2 = []; amountArr3 = []; cities = [];
            //    for (var i = 0; i < obj.Cities1.length; i++) {
            //        amountArr1.push(obj.Cities1[i].Amount);
            //    }
            //    for (var i = 0; i < obj.Cities2.length; i++) {
            //        amountArr2.push(obj.Cities2[i].Amount);
            //        cities.push(obj.Cities2[i].CityName)
            //    }
            //    for (var i = 0; i < obj.Cities3.length; i++) {
            //        amountArr3.push(obj.Cities3[i].Amount);
            //    }
            //    console.log(amountArr1);
            //    chart.addSeries({
            //        name: "Male",
            //        data: amountArr1
            //    });
            //    chart.addSeries({
            //        name: "Female",
            //        data: amountArr2
            //    });
            //    chart.addSeries({
            //        name: "Other",
            //        data: amountArr3
            //    });
            //    console.log(cities);
            //    chart.xAxis[0].setCategories(cities)
            //},
            //error: function (xhr, ajaxOptions, thrownError) {
            //    alert(xhr.status);
            //    alert(thrownError);
            //}
        })
    }

</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
    .dnnCheckbox .mark {
        background-color: initial !important
    }

    .mark, mark {
        background-color: initial !important
    }

    .row {
        display: contents;
    }
</style>